@use '../index';

.about{
  @include index.Container-box(15vh 4vw 0 4vw);

p{
  line-height: index.$P-height;
  color: index.$Text-light;
  font-weight: index.$Big-p-weight;
  font-size: index.$Small-p-size;
  margin: 8px 10px 40px 0;
  }
}

@include index.respond-to(900px) {
.about{
  @include index.Container-box(20vh 4vw 0 12vw );
  }
}


