@use '../index';

.contact{
  @include index.Container-box(20vh 4vw 0 4vw);
    h1{
    margin-bottom: 5px;
  }
  .contactForm{
  margin-top: 15px;
   display: flex;
   flex-direction: column;
   gap: 10px;
   .form--item{
     border-radius: 5px;
     border: none;
     width: 100%;
     padding: 10px 0 10px 20px;
    }
  .contactForm--pair{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    input{
      height: 50px;
      width: 100%;
      border-radius: 5px;
      }
    }
    .btn--submit{
      width: 100%;
      height: 50px;
      background-color: transparent;
      border-radius: 5px;
    }
    .btn--submit:hover{
      border: none;
      color: index.$Base-light;
    }
  } 
}

@include index.respond-to(900px){
 .contact{ 
  @include index.Container-box(20vh 4vw 0 12vw);
    .contactForm{
   display: flex;
   flex-direction: column;
   gap: 15px;
   .form--item{
     border-radius: 5px;
     width: 100%;
    }
  .contactForm--pair{
  /*  display: flex;
    align-items: center;
    flex-direction: row;*/
    width: 100%;
   // height: 100px;
    box-sizing: border-box;
    overflow: hidden;
    display: grid;
    grid-gap: 10px;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(auto-fit, minmax(60%, 1fr));
    input{
      height: 50px;
    //  width: 40%;
      min-width: 320px; 
     // max-width: autio;
      border-radius: 5px;
      }
    }
  }
  }
}
