@use '../index.scss';


footer{
  padding-top: 15px;
  height: 30vh;
  width: 100%;
  margin-top: 20vh;
  .logo{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 10px;
    svg{
     font-size: index.$H3-size;
    }
    span{
     font-size: index.$Span-size;
     font-weight: index.$Big-p-weight;
     color: index.$Text-light;
    }
  }
  .socialMedia{
    margin: 0 auto;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    &--icon{
      height: 25px;
      width: 25px;
    }
  }
  .rights{
    width: 100%;
    margin-top: 60px;
    text-align: center;
    font-weight: index.$Small-p-weight;  
  }
}

@include index.respond-to(900px){
 footer{
  height: 30vh;
  width: 100%;
  .logo{
    svg{
     font-size: index.$Desk-h3-size;
    }
    span{
     font-size: index.$Desk-i-size;
     font-weight: index.$Big-p-weight;
     color: index.$Text-light;
    }
  }
  .socialMedia{
    gap: 30px;
    &--icon{
      height: 30px;
      width: 30px;
      }
    }
}
}
