@use '../index.scss';


footer{
  background: index.$Darkest-light;
  padding-top: 15px;
  height: 30vh;
  width: 100%;
  margin-top: 20vh;
  .logo{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 10px;
    svg{
     font-size: index.$H3-size;
    }
    span{
     font-size: index.$Span-size;
     font-weight: index.$Big-p-weight;
     color: index.$Text-light;
    }
  }
  .socialMedia{
    margin: 0 auto;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@include index.respond-to(900px){
 footer{
  background: index.$Darkest-light;
  padding-top: 15px;
  height: 30vh;
  width: 100%;
  .logo{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    svg{
     font-size: index.$Desk-h3-size;
    }
    span{
     font-size: index.$Desk-i-size;
     font-weight: index.$Big-p-weight;
     color: index.$Text-light;
    }
  }
}
}
