@use '../index';

.hero{
  @include index.Container-box(15vh 5vw 0 5vw);
p{
  line-height: index.$P-height;
  color: index.$Text-light;
  font-weight: index.$Big-p-weight;
  font-size: index.$Small-p-size;
  margin-top: 10px;
  width: 100%
  }
}

@include index.respond-to(900px) {
.hero{
  @include index.Container-box(20vh 4vw 0 12vw );
p{
  line-height: index.$P-height;
  font-size: index.$Desk-smallP-size;
  width: 80%
  }
 }
}
