@use '../index';
 
.light-blue{
 z-index: -10;
 position: fixed;
 right: -90%;
 top: -60%;
}
.light-pink{
z-index: -10;
position: fixed;
left: -90%;
top: 40vh;
}

@include index.respond-to(900px) {
  .light-blue{
    z-index: -10;
    position: fixed;
    right: -30%;
    top: -60%;
  }
  .light-pink{
    z-index: -10;
    position: fixed;
    left: -30%;
    top: 30vh;
  }
}
