@use '../index';
.skeleton{
border-radius: 5px;
overflow: hidden;
background-size: 400%;
animation: shimer 1500ms infinite;
}
@keyframes shimer {
  from{background-position: 100% 100%;}
  to{background-position: 0 0;}
}
/*.skeleton.title{
   
}
.skeleton.text{
 
}*/
.skeleton.card{
  height: 100%;
  width: 100%;
 // max-height: 400px;
}

/*@include index.respond-to(900px){
.skeleton.title{
   
}
.skeleton.text{
 
}
.skeleton.card{
  
}

}*/
