/*--------------------------\
         Global
---------------------------*/
 @use './index';

* {
  margin: 0;
  padding: 0;
}
html {
  font-family: index.$Base-font;
  font-size: 62.5%;
  scroll-behavior: smooth;
}
//Layout structure
body {
  display: block;
  width: 100%;
 // height: 100vh;
  overflow-x: hidden;
  box-sizing: border-box;
  transition: all 1s;
}
main{
  transition: all 0.5s;
  animation: transRender .8s;
}
 @keyframes transRender {
  0%{
   opacity: 0;
  }
 50%{
   opacity: 0.5;
  }
  100%{
    opacity: 1;
  }
}
hr{
  width: 100%;
}
input{
  outline: none;
}
textarea{
  outline: none;
}

//animation bgTitle
h1{
  line-height: index.$Title-height;
  font-weight: index.$Big-title-weight;
  background-image: linear-gradient(270deg, #31ABC6, #FC61A2, #BC3EC7, #505488);
  background-size: 400%;
  -webkit-background-clip: text;
  color: transparent;
  animation: bgTitle 6s infinite;
}
.btn__hover:hover{
 background-image: linear-gradient(270deg, #31ABC6, #FC61A2, #BC3EC7, #505488);
 background-size: 400%;
 color: index.$Base-light;
 animation: bgTitle 6s infinite;
 transition: all 1s;
}

@keyframes bgTitle{
0%{
  background-position: 0% 50%;
  }
  50%{
 background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
}

//Fonts (global)
h1{
font-size: index.$H1-size;
}
h2{
font-size: index.$H2-size;
}
h3{
font-size: index.$H3-size;
}
h4{
font-size: index.$H4-size;
}
p{
  font-size: index.$Small-p-size;
}
i{
  font-size: index.$I-size;
}

// Desktop styles
@include index.respond-to(900px){

main.space{
  margin-left: 10vw;
  }
h1{
font-size: index.$Desk-h1-size;
  }
h2{
font-size: index.$Desk-h2-size;
  }
h3{
font-size: index.$Desk-h3-size;
  }
h4{
font-size: index.$Desk-h4-size;
  }
p{
  font-size: index.$Desk-smallP-size;
  }

}
