/*--------------------------\
         Global
---------------------------*/
 @use './index';

* {
  margin: 0;
  padding: 0;
}
html {
  font-family: index.$Base-font;
  font-size: 62.5%;
  scroll-behavior: smooth;
}
//Theme and layout structure
body {
  width: 100%;
 // height: 100vh;
  overflow-x: hidden;
  box-sizing: border-box;
  background: index.$Base-light;
}
body.dark {
 background: index.$Base-dark;
 header{
   background: index.$Grey-dark;
  }
  header.active{
    background: index.$Grey-dark;
  }
  .menu{
    background-color: index.$Grey-dark;
    color: index.$Base-light;
  }
  .btn{
    border: 1.5px solid index.$Base-light;
    color: index.$Base-light;
    a{
    color: index.$Base-light;
    }
  }
 h2{
 color: index.$Base-light;
  }
  h3{
  color: index.$Base-light;
  }
  p{
    color: index.$Text-dark;
  }
  footer{
    background-color: index.$Darkest-dark;
  }
}

//animation bgTitle
h1{
  line-height: index.$Title-height;
  font-weight: index.$Big-title-weight;
  background-image: linear-gradient(270deg, #31ABC6, #FC61A2, #BC3EC7, #505488);
  background-size: 400%;
  -webkit-background-clip: text;
  color: transparent;
animation: bgTitle 6s infinite;
}
@keyframes bgTitle{
0%{
  background-position: 0% 50%;
  }
  50%{
 background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
  }
//Fonts (global)
h1{
font-size: index.$H1-size;
}
h2{
font-size: index.$H2-size;
}
h3{
font-size: index.$H3-size;
}
h4{
font-size: index.$H4-size;
}

@include index.respond-to(900px){
h1{
font-size: index.$Desk-h1-size;
  }
h2{
font-size: index.$Desk-h2-size;
  }
h3{
font-size: index.$Desk-h3-size;
  }
h4{
font-size: index.$Desk-h4-size;
  }
p{
  font-size: index.$Desk-smallP-size;
  }

}
