@use './index';

body.light {
  background: index.$Base-light;
   header{
   background: index.$Grey-light;
   .light{
    background-color: index.$Darkest-light;
    color: index.$Base-dark;
    }
    
    li:hover{
    svg{
      color: index.$Base-dark;
      }
    span{
      color: index.$Base-dark;
      }
    }
    .light:hover{
      color: index.$Base-light;
    }
  }
  header.active{
    background: index.$Grey-light;
    .light{
      background-color: index.$Darkest-light;
      color: index.$Base-dark;
     }
     .light:hover{
     color: index.$Base-light;
  }
     
  }
  
  .menu{
    background-color: index.$Grey-light;
    color: index.$Base-dark;
  }
   .skeleton{
    //background-color: index.$Darkest-light;
    background-image: linear-gradient(
  90deg,
  index.$Darkest-light 0%, index.$Darkest-light 40%,
    index.$Grey-light 50%, index.$Grey-light 55%,
    index.$Darkest-light 65%, index.$Darkest-light 100%
    );
  }
  .project{
    .topicsContainer{
      i{
        background-color: index.$Grey-light;
        border: 5px solid index.$Grey-light;
        color: index.$Text-dark;
      }
    }
    background-color: index.$Base-light;
    button{
      border: solid 1px index.$Base-dark;
      a{
        color: index.$Base-dark;
      }
    }
  }
 .btn{
    border: 1.5px solid index.$Base-dark;
    color: index.$Base-dark;
    a{
    color: index.$Base-dark;
    }
  }
  .btn:hover{
    border: none;
    color: index.$Base-light;
  
  }  
  .form--item{
    background-color: index.$Grey-light;
  } 
  .btn--submit{
    border: solid 1.5px index.$Base-dark;
    .btn--submit:hover{
      border: none;
      color: index.$Base-light;
    }
    color: index.$Base-dark;
  }
  h2{
    color: index.$Base-dark;
  }
  h3{
    color: index.$Base-dark;
  }
  h4{
    color: index.$Base-dark;
  }
  p{
    color: index.$Text-light;
  }
  i{
    color: index.$Text-dark;
  }
  footer{
    background-color: index.$Darkest-light;
    .socialMedia{
      &--icon{
       color: index.$Darkest-dark;
        }
      &--icon:hover{
        color: index.$Base-dark;
      }
    }
    .rights{
      color: index.$Text-light;
    }
  }
}

body.dark {
 background: index.$Base-dark;
  header{
   background: index.$Grey-dark;
   .dark{
     background-color: index.$Darkest-dark;
     color: index.$Base-light;
    }
    li:hover{
      svg{
      color: index.$Base-light;
        }
      span{
        color: index.$Base-light;
      }
    }
  }
  header.active{
    background: index.$Grey-dark;
    .dark{
      background: index.$Darkest-dark;
      color: index.$Base-light;
    }
    button{
      background: index.$Darkest-dark;
    }
  }
  .skeleton{
    background-image: linear-gradient(
  90deg,
  index.$Darkest-dark 0%, index.$Darkest-dark 40%,
    index.$Grey-dark 50%, index.$Grey-dark 55%,
    index.$Darkest-dark 65%, index.$Darkest-dark 100%
    );
  }
  .project{
     .topicsContainer{
      i{
        background-color: index.$Base-dark;
        border: 5px solid index.$Base-dark;
        color: index.$Text-dark;
      }
    }
    background-color: index.$Darkest-dark;
    button{
      border: solid 1px index.$Base-light;
      a{
        color: index.$Base-light;
      }
    }
  }
  .menu{
    background-color: index.$Grey-dark;
    color: index.$Base-light;
  }
  .btn{
      border: 1.5px solid index.$Base-light;
      color: index.$Base-light;
    a{
      color: index.$Base-light;
    }
  }
  .btn:hover{
    border: none;
  }
  .form--item{
    background-color: index.$Grey-dark;
  }
  .btn--submit{
    border: solid 1.5px index.$Base-light;
    color: index.$Base-light;
  }

  h2{
    color: index.$Base-light;
  }
  h3{
    color: index.$Base-light;
  }
  h4{
    color: index.$Base-light;
  }
  p{
    color: index.$Text-dark;
  }
  i{
    color: index.$Text-light;
  }
  footer{
    background-color: index.$Darkest-dark;
    .socialMedia{
      &--icon{
        color: index.$Darkest-light;
      }
      &--icon:hover{
        color: index.$Base-light;
      }
      }
      .rights{
        color: index.$Text-dark;
      }
  }
}
